{% extends "mailing/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">

                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.message }}</h4>
                </div>

                <div class="card-body">
                    <h3 class="card-title pricing-card-title">{{ object.status }}</h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Период:</b> {{ object.period }}</li>
                        <li><b>Время:</b> {{ object.start_time }}</li>
                        <li><b>Количество раз отправлена:</b> {{ object.count }}</li>

                    </ul>
                    {% if object.owner == user %}
                        {% if object.status.name == status_stop and not user.is_staff %}
                            <a class="w-100 btn btn-lg btn-dark" href="#">Рассылка заблокирована</a>
                        
                        {% else %}
                            <a class="w-45 btn btn-lg btn-outline-primary mb-1" href="{% url "mailing:update_message" object.message.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                            </a>

                            <a class="w-45 btn btn-lg btn-outline-primary mb-1" href="{% url "mailing:update_setting" object.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-gear-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                </svg>
                            </a>

                            {% if object.status.name == status_end %}
                            <a class="w-100 btn btn-lg btn-outline-success mb-1" href="{% url "mailing:change_status" object.pk %}">
                                Запустить
                            </a>

                            {% else %}
                            <a class="w-100 btn btn-lg btn-outline-warning mb-1" href="{% url "mailing:change_status" object.pk%}">
                                Завершить
                            </a>

                            {% endif %}

                        <a class="w-100 btn btn-lg btn-outline-danger" href="{% url "mailing:delete_setting" object.pk%}">
                            Удалить
                        </a>
                        {% endif %}

                    {% else %}

                        {% if object.status.name == status_stop %}
                            <a class="w-100 btn btn-lg btn-outline-success mb-1" href="{% url "mailing:change_status" object.pk %}">
                                Запустить
                            </a>

                        {% else %}
                            <a class="w-100 btn btn-lg btn-outline-warning mb-1" href="{% url "mailing:change_status" object.pk%}">
                                Отключить
                            </a>

                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}